.typewritten {
  font-family: "Special Elite", cursive;
}

.hide {
  display: none;
}

body {
  display: flex;
  flex-direction: row;
}

div {
  position: relative;
  top: 1.35vw;
  padding-left: 0.05vw;
}

#theWriter {
  font-size: 2.5vw;
  font-family: "Special Elite", cursive;
}
